@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* colors */
    color-scheme: light only;
	--line: color-mix(in lch, canvasText 25%, transparent);
    --color: hsl(0 0% 6%);
    --bg: hsl(0 0% 98%);
    --monde: hsl(32 98% 50%);
    --blue: hsl(216, 91%, 50%);
    --rose: rgb(130, 3, 49);
    --gold: rgb(240, 176, 2);
    --content-size: 520px;
    --eclipse: 60%;
    --brightness: 150%;
}
html {
    font-size: 62.5%;
}
body::before {
    --size: 55px;
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
        )50% 50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-15deg, transparent 40%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
}
body {
    position: relative;
    font-family: "Inter",sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-position: fixed;
}
.dark {
	color-scheme: dark only;
    --color: hsl(0 0% 98%);
    --bg: hsl(0 0% 6%);
    --monde: hsl(23, 98%, 50%);
    --brightness: 0;
    --blue: hsl(223, 71%, 22%);
    --rose: rgb(64, 3, 27);
    --gold: rgba(240, 176, 2, 0.842);

}
header {
    position: fixed;
    bottom: 30px;
}
ul {
    position: relative;
    padding: 10px 15px;
    border-radius: 50px;
    min-width: 280px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 52, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: width 0.3s ease;
}
a {
    position: relative;
    text-decoration: none;
    color: var(--color);
    display: inline-block;
}
.text-link {
    position: absolute;
    z-index: -1;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color);
    color: var(--bg);
    padding: 4px 5px;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(31, 52, 135, 0.37);
    top: -10px;
    transform: translateY(100%) scale(0.5) ;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.6s ease-in-out;
}
a:hover .text-link {
    transform: translateY(-26px) scale(1);
    opacity: 1;
}
a:hover #email {
    transform: translateY(-26px) translateX(-10px);
}
a:hover #work {
    transform: translateY(-26px) translateX(-5px);
}
a:hover #home {
    transform: translateY(-26px) translateX(-3px);
}
a:hover .box{
    transform: scale(1.1) translateY(-5px);
}
.box {
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.box img {
    width: 70%;
    height: auto;
    /* object-fit: cover; */
    transition: transform 0.3s ease;
}
.box:hover img {
    transform: scale(1.1);
    filter: brightness(var(--brightness));
}
.theme-toggle {
    color: var(--color);
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 48px;
    aspect-ratio: 1;
    padding: 0;
    border: 0;
    display: grid;
    place-items: center;
    border-radius: 12px;
    background: transparent;
    transition: background 0.2s;
    cursor: pointer;
    z-index: 10;
}
.theme-toggle:is(:hover, :focus-visible) {
    background: hsl(0 0% 90%);
    border: 1px solid var(--monde);
}
.dark .theme-toggle:is(:hover, :focus-visible) {
    background: hsl(0 0% 30%);
}
.dark img {
    filter: brightness(0.75);
}
.theme-toggle[aria-pressed=true] svg path:last-of-type {
    display: block;
}
.theme-toggle svg {
    color: currentColor;
    width: 50%;
}
.theme-toggle[aria-pressed=true] svg path:first-of-type,
.theme-toggle svg path:last-of-type {
    display: none;
}
::view-transition-group(root) {
    animation-duration: 1.25s;
}
::view-transition-new(root),
::view-transition-old(root) {
    mix-blend-mode: normal;
}
::view-transition-new(root) {
    animation-name: none;
}
::view-transition-old(root) {
    animation-name: reveal-light;
    animation-duration: 3s;
    z-index: 2;
}
.dark::view-transition-new(root) {
    animation-name: reveal-dark;
    animation-duration: 3s;
    z-index: 3;
}
.dark::view-transition-old(root) {
    animation-name: none;
}
@keyframes reveal-dark {
    from {
        clip-path: circle(var(--eclipse) at 200% -200%);
        filter: brightness(0.2);
    }
    40% {
    clip-path: circle(var(--eclipse) at 50% 50%);
        filter: brightness(0.2);
    }
    to {
        filter: brightness(1);
        clip-path: circle(100% at 50% 50%);
    }
}
@keyframes reveal-light {
    0% {
        filter: brightness(1);
        clip-path: circle(100% at 50% 50%);
    }
    20% {
        filter: brightness(0.2);
        clip-path: circle(var(--eclipse) at 50% 50%);
    }
    100% {
        filter: brightness(0.2);
        clip-path: circle(var(--eclipse) at -200% 200%);
    }
}
.main-title h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1.2;
    text-align: left;
    color: var(--color);
}
.container {
    margin-top: 150px;
}
.main-title h1 span {
    color: var(--monde);
}
.intro {
    width: 625px;
}
.project {
    margin-top: 50px;
    text-align: center;
}
#work-list h2 {
    font-size: 3rem;
    margin-bottom: 60px;    
}
.card-pro {
    /* position: relative; */
    width: 950px;
    height: 385px;
    border-radius: 75px;
    margin-bottom: 40px;
}
.blue-card {
    background-color: var(--blue);
}
.pink-card {
    background-color: var(--rose);
}
.gold-card {
    background-color: var(--gold);
}
.blue-card {
    background-color: var(--blue);
}
